<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mi CV</title>
    <link rel="stylesheet" href="/css/home.css" />
    <%- include('../partials/head') %>
</head>
<body class="body">
    <%- include('../partials/header') %>

    <main class="mainHome">
        <section class="sectionHomeResume">
            <figure class="sectionHomeResume__figure">
                <img class="sectionHomeResume__img" src="images/fotoCv.jpg">
            </figure>
            <article class="sectionHomeResume__article">
                <h2 class="sectionHomeResume__h">Sobre mi</h2>
                <p class="sectionHomeResume__p">
                Tengo 25 años, soltero, con alma de emprendedor y amante de la tecnología.
                Me encuentro en busqueda de conocimientos prácticos, experiencia y crecimiento personal,
                en un ámbito laboral desafiante, proactivo e innovador que se
                encuentre orientado a nuevos negocios digitales.</p>
            </article>
        </section>
        <section class="sectionHome">
            <article class="sectionHome__article">
                <h2 class="sectionHome__h2">Experiencia</h2>
                <h3 class="sectionHome__h3">Trainee Domestic Origination</h3>
                <h4 class="sectionHome__h4">Louis Dreyfus Company</h4>
                <h4 class="sectionHome__period">01/2020 - Ongoing</h4>
                <p>Exportadora de commodities y productos agropecuarios
                    Graduate Program. Programa de Jóvenes Profesionales enfocado en el área comercial.
                    Responsabilidades orientadas a impulsar y liderar proyectos de estrategia y transformación digital.
                    Desarrollo de solución digital colaborativa para la automatización de procesos en el sector comercial de originación de commodities.
                </p>
            </article>
            <article class="sectionHome__article">
                    <h3 class="sectionHome__h3">Responsable Administrativo de Canjes de Granos</h3>
                    <h4 class="sectionHome__h4">Corteva Agriscience</h4>
                    <h4 class="sectionHome__period">07/2019-12/2019</h4>
                    <p>Broker de granos Back Office Corteva. Seguimiento y
                    Cobranza de los negocios confirmad</p>
            </article>
            <article class="sectionHome__article">
                <h3 class="sectionHome__h3">Asistente de Precios de Transferencia</h3>
                <h4 class="sectionHome__h4">Deloitte&Co S.A.</h4>
                <h4 class="sectionHome__period">04/2018 - 03/2019</h4>
                <p>Consultoría-TAX Confección de Formularios e Informes de
                    Precios de Transferencia. Seguimiento de
                    cartera de clientes</p>
                </article>
                <article class="sectionHome__article">
                    <h2 class="sectionHome__h2">Educación</h2>
                    <h3 class="sectionHome__h3">Programación Web Fullstack</h3>
                    <h4 class="sectionHome__h4">Digital House Coding School</h4>
                    <h4 class="sectionHome__period">02/2021-Ongoing</h4>
                    <p></p>
                </article>
                <article class="sectionHome__article">
                    <h2 class="sectionHome__h2">Cursos</h2>
                    <ul>
                        <li>
                            
                        </li>
                    </ul>
                </article>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>