<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mi CV</title>
    <link rel="stylesheet" href="/css/home.css" />
    <%- include('../partials/head') %>
</head>
<body class="body">
    <%- include('../partials/header') %>

    <main class="mainHome">
        <section class="sectionHomeResume">
            <figure class="sectionHomeResume__figure">
                <img class="sectionHomeResume__img" src="images/fotoCvCircle.png">
            </figure>
            <nav class="sectionHomeResume__navBar">
                <ul class="sectionHomeResume__ul">
                    <li class="sectionHomeResume__li">
                        <i class="fas fa-mobile-alt sectionHomeResume__icon"></i>
                        2342-483157
                    </li>
                    <li class="sectionHomeResume__li">
                        <i class="far fa-envelope sectionHomeResume__icon"></i>
                        vicente.macchione1@gmail.com
                    </li>
                    <li class="sectionHomeResume__li">
                        <i class="fas fa-home sectionHomeResume__icon"></i>
                        Agüero 1595, CABA.
                    </li>
                    <li class="sectionHomeResume__li">
                        <i class="fab fa-linkedin sectionHomeResume__icon"></i>
                        <a class="sectionHomeResume__link" href="https://www.linkedin.com/in/vicentemacchione/">/vicentemacchione/</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section id="aboutMe" class="sectionHome">
            <article class="sectionHome__article">
                <h2 class="sectionHome__title">Sobre mi</h2>
                <p class="sectionHome__p">
                    Tengo 25 años, soltero, con alma de emprendedor,amante de la tecnología y de la cocina.
                    Me encuentro en busqueda de conocimientos prácticos, experiencia y crecimiento personal,
                    en un ámbito laboral desafiante, proactivo e innovador que se
                    encuentre orientado a nuevos negocios digitales.</p>
                </article>
        </section>
        <section id="experience" class="sectionHome">
                <article class="sectionHome__article">
                <h2 class="sectionHome__title">Experiencia</h2>
                <h3 class="sectionHome__h3">Trainee Domestic Origination || Louis Dreyfus Company</h3>
                <h4 class="sectionHome__period">01/2020 - Ongoing</h4>
                <p class="sectionHomeResume__p">Exportadora de commodities y productos agropecuarios
                    Graduate Program. Programa de Jóvenes Profesionales enfocado en el área comercial.
                    Responsabilidades orientadas a impulsar y liderar proyectos de estrategia y transformación digital.
                    Desarrollo de solución digital colaborativa para la automatización de procesos en el sector comercial de originación de commodities.
                </p>
            </article>
            <article class="sectionHome__article">
                    <h3 class="sectionHome__h3">Responsable Administrativo de Canjes de Granos || Corteva Agriscience</h3>
                    <h4 class="sectionHome__period">07/2019-12/2019</h4>
                    <p class="sectionHomeResume__p">Broker de granos Back Office Corteva. Seguimiento y
                    Cobranza de los negocios confirmados</p>
            </article>
            <article class="sectionHome__article">
                <h3 class="sectionHome__h3">Asistente de Precios de Transferencia || Deloitte&Co S.A.</h3>
                <h4 class="sectionHome__period">04/2018 - 03/2019</h4>
                <p class="sectionHomeResume__p">Consultoría-TAX Confección de Formularios e Informes de
                    Precios de Transferencia. Seguimiento de
                    cartera de clientes</p>
                </article>
        </section>
        <section id="education" class="sectionHome">
                <article class="sectionHome__article">
                    <h2 class="sectionHome__title">Educación</h2>
                    <h3 class="sectionHome__h3">Programación Web Fullstack || Digital House Coding School</h3>
                    <h4 class="sectionHome__period">02/2021-Ongoing</h4>
                    <h3 class="sectionHome__h3">Licenciatura en Administración de Empresas || Universidad Argentina de la Empresa</h3>
                    <h4 class="sectionHome__period">03/2014-12/2018</h4>
                </article>
        </section>
        <section id="courses" class="sectionHome">
                <article class="sectionHome__article">
                    <h2 class="sectionHome__title">Cursos</h2>
                    <ul class="sectionHome__ul">
                        <li class="sectionHome__li">
                            Data Scientist con R 
                        </li>
                        <li class="sectionHome__li">
                            Fundamentos de Base de Datos
                        </li>
                        <li class="sectionHome__li">
                            Power Apps + Power BI 
                        </li>
                    </ul>
                </article>
        </section>
        <section id="languages" class="sectionHome">
                <article class="sectionHome__article">
                    <h2 class="sectionHome__title">Idiomas</h2>
                    <h3 class="sectionHome__h3">Ingles (Intermediate)</h3>
                    <h3 class="sectionHome__h3">Portugues (Beginner)</h3>
                </article>
        </section>
        <section id="hobbies" class="sectionHome">
                <article class="sectionHome__article">
                    <h2 class="sectionHome__title">Actividades/Hobbies</h2>
                    <h3 class="sectionHome__h3">Emprendimiento Gastronómico Personal || VM Sushi</h3>
                    <h4 class="sectionHome__period">2018-Ongoing</h4>
                    <p class="sectionHomeResume__p">
                    Emprendimiento de Delivery de Sushi en Bragado,
                    Provincia de Buenos Aires. Tambíen como asistente
                    en la barra de sushi de Don Candioti.
                    </p>
                    <h3 class="sectionHome__h3">Programa “Uniendo Metas”, Metodología Naciones Unidas || Asosicacion Conciencia
                    </h3>
                    <h4 class="sectionHome__period"> 01/2013 - Ongoing</h4>
                    <p class="sectionHomeResume__p">Capacitaciones, organización y coordinación del programa.</p>
                </article>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>