<header class="header">
    <nav class="navBar">
        <ul class="navBar__ul">
            <li class="navBar__li">
                <a class="navBar__link" href="#aboutMe">Sobre mi</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#experience">Experiencia</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#education">Educación</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#courses">Cursos</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#languages">Idioma</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#hobbies">Actividades/Hobbies</a>
            </li>
        </ul>
    </nav>
</header>