<header class="header">
    <nav class="navBar">
        <ul class="navBar__ul">
            <li class="navBar__li">
                <a class="navBar__link" href="#">Sobre mi</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#">Experiencia</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#">Educación</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#">Cursos</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#">Idioma</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#">Actividades/Hobbies</a>
            </li>
        </ul>
    </nav>
</header>