<header class="header">
    <!--<figure class="header__figure">
        <img class="header__logo" src="">
    </figure>-->
    
    <nav class="navBar">
        <!--<label class="logo">VicenteMacchione</label>-->
        <ul class="navBar__ul">
            <li class="navBar__li">
                <a class="navBar__link active" href="#aboutMe">Home</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#aboutMe">Sobre mi</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#experience">Experiencia</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#education">Educación</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#courses">Cursos</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#languages">Idioma</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#hobbies">Actividades</a>
            </li>
        </ul>        
        <span class="btn_menu" href="#">
            <i class="fas fa-bars navBar__burgerMenu"></i>
        </span>
    </nav>
    <script src="js/main.js"></script>
</header>