<header class="header">
    <nav class="navBar">
        <ul class="navBar__ul">
            <li class="navBar__li">
                <a href="#">Sobre mi</a>
            </li>
            <li class="navBar__li">
                <a href="#">Experiencia</a>
            </li>
            <li class="navBar__li">
                <a href="#">Educación</a>
            </li>
            <li class="navBar__li">
                <a href="#">Cursos</a>
            </li>
            <li class="navBar__li">
                <a href="#">Idioma</a>
            </li>
            <li class="navBar__li">
                <a href="#">Actividades/Hobbies</a>
            </li>
        </ul>
    </nav>
</header>