<header class="header">
    <!--<figure class="header__figure">
        <img class="header__logo" src="">
    </figure>-->
    
    <nav class="navBar">
        
        <ul class="navBar__ul">
            <li class="navBar__li">
                <a class="navBar__link" href="#aboutMe">Home</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#aboutMe">Sobre mi</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#experience">Experiencia</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#education">Educación</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#courses">Cursos</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#languages">Idioma</a>
            </li>
            <li class="navBar__li">
                <a class="navBar__link" href="#hobbies">Actividades/Hobbies</a>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        <i class="bi mobile-nav-toggle bi-x navBar__x"></i>
    </nav>
</header>