.header{
    width: 100%;
    font-size:10px;
    background-color: #9cb1ff;
}

.navBar{
    width: 100%;
    padding: 5px;
}

.navBar__ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
 }

 .navBar__link{
     text-decoration: none;
 }

 /* ---------Media queries ---------*/
/* --MOBILE XL--*/
@media (min-width: 577px) {}

/* --TABLET/NETBOOK--*/
@media (min-width: 769px) {}

/* --DESKTOP--*/
@media (min-width: 993px) {
    .navBar__link:hover{
        text-decoration: underline;
    }
}

/* --INFINITO--*/
@media (min-width: 1200px) {}