
.mainHome{
    padding-top: 60px;
}

/*Seccion sobre mi*/
.sectionHomeResume{
    width: 90%;
    background-color: white;
    padding: 50px 0px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    
}
.sectionHomeResume__article{
    width: 45%;
    align-self: center;
}
.sectionHomeResume__navBar{
    align-self: center;
}

.sectionHomeResume__ul{
    list-style: none;
    text-align:left;
    width: 100%;
}

.sectionHomeResume__li{
    margin: 15px auto;
}

.sectionHomeResume__link{
    text-decoration: none;
}

.sectionHomeResume__figure{
    width: 45%;
    text-align: center;
}
.sectionHomeResume__figureChange{
    width: 30%;
    text-align: center;
    display: none;
}

.sectionHomeResume__img{
    width: 100%;
    border:rgb(150, 145, 145) 1px solid;
    border-radius: 50%;
    margin: 0px 10px;
}
.sectionHomeResume__imgChange{
    display: none;
}

.sectionHomeResume__articleAboutMe{
    width: 100%;
    text-align: center;
}

/*Aca arrancan las secciones*/

.sectionHome{
    width: 90%;
    margin: 10px auto;
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);

}

.sectionHome__article{
    text-align: center;
}
.sectionHome__ul{
    list-style: none;
}
.sectionHome__title{
    text-align: center;
    padding: 10px 0px;
}
.sectionHome__period{
    color:#505c85; 
    padding: 10px 0px;  
}


/* ---------Media queries ---------*/
/* --MOBILE XL--*/
@media (min-width: 577px) {}

/* --TABLET/NETBOOK--*/
@media (min-width: 769px) {
    .sectionHome__article:hover{
        zoom:130%;
        
    }
    

}

/* --DESKTOP--*/
@media (min-width: 993px) {}

/* --INFINITO--*/
@media (min-width: 1200px) {}
