/*
Paleta de colores
.color1 {color: #00391a;}
.color2 {color: #006f83;}
.color3 {color: #ff7600;}
.color4 {color: #ffc243;}
.color5 {color: #ffff8d;}
*/

.mainHome{
    padding-top: 60px;
}

/*Seccion sobre mi*/
.sectionHomeResume{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 200px 0px;
    
}
.sectionHomeResume__article{
    width: 60%;
    align-self: center;
    
}
.sectionHomeResume__figure{
    width: 30%;
    text-align: center;
}
.sectionHomeResume__img{
    width: 100%;
    border:rgb(150, 145, 145) 1px solid;
    border-radius: 50%;
}
.sectionHomeResume__imgChange{
    display: none;
}

/*Aca arrancan las secciones*/
.sectionHome{
    padding: 200px 0px;
}

#aboutMe{
    background-color:#ff7600 ;
}
#experience{
    background-color: #2d8b58;
}
#education{
    background-color: #ffc243;
}
#courses{
    background-color: #006f83; 
}
#languages{
    background-color: #ffff8d;
}
#hobbies{
    background-color: #07ac51;
};
.sectionHome__article{
    text-align: center;
}
.sectionHome__title{
    text-align: center;
}
.sectionHome__period{
    color:#505c85;   
}

/*Seccion de contacto*/
.sectionHomeContact__navBar{
    border: blue 1px solid;
    width: 60%;
    align-self: center;
}

.sectionHomeContact__ul{
    list-style: none;
    border: black solid 1px;
    text-align:left
}

.sectionHomeContact__li{
    border: springgreen dotted 1px;
    margin: 5px 0px;
}

.sectionHomeContact__link{
    text-decoration: none;
}

/* ---------Media queries ---------*/
/* --MOBILE XL--*/
@media (min-width: 577px) {}

/* --TABLET/NETBOOK--*/
@media (min-width: 769px) {
    .sectionHomeResume__img{
        width: 40%;

    }
    .sectionHome{
        align-self: center;
    }
    
    .sectionHome__article{
        max-width: 50%;
        margin: 10px auto;
        font-size: 14px;
    }
    .sectionHome__article:hover{
        zoom:130%;
        
    }
    

}

/* --DESKTOP--*/
@media (min-width: 993px) {}

/* --INFINITO--*/
@media (min-width: 1200px) {}
