/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

/*
Paleta de colores
.color1 {color: #00391a;}
.color2 {color: #006f83;}
.color3 {color: #ff7600;}
.color4 {color: #ffc243;}
.color5 {color: #ffff8d;}
*/

html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.body{  
    width: 100%;
    background-color: rgb(233, 231, 231);
}

.sectionHomeResume__paragraph{
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}

.sectionHome__paragraph{
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}

