/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

/*
Paleta de colores
.color1 {color: #00391a;}
.color2 {color: #006f83;}
.color3 {color: #ff7600;}
.color4 {color: #ffc243;}
.color5 {color: #ffff8d;}
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.body{  
    width: 100%;
    font-size: 10px;
    background-color: #f7f7f7;
}

.sectionHomeResume__paragraph{
    font-size: 12px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
    line-height: 1.5;
}

.sectionHome__paragraph{
    font-size: 12px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
    line-height: 1.5;
}

.sectionHome__icon{
    font-size: 30px;
    border: black solid 1px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(238, 238, 98);
}

/* ---------Media queries ---------*/
/* --MOBILE XL--*/
@media (min-width: 577px) {}

/* --TABLET/NETBOOK--*/
@media (min-width: 769px) {   
    html{
        scroll-behavior: smooth;
    }
}

/* --DESKTOP--*/
@media (min-width: 993px) {}

/* --INFINITO--*/
@media (min-width: 1200px) {}
